<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    
    <script src="https://kit.fontawesome.com/10080bf3c7.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="../static/index.js"> -->

    <title>Portfolio Website</title>
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="" class="logo" alt="">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfilo</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu( )"></i>
            </nav>
            <div class="header-text">
                <p>Full-Stack WebDevloper</p>
                <h1>Hi, I'm <span>Vaibhavi</span><br> From India</h1>
            </div>
        </div>
    </div>
    <!-- ------------------------------About------------------------------------- -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="../static/v2.jpg" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facere laborum quaerat voluptates reprehenderit aspernatur quae porro quis sequi! Est vel, esse aspernatur consequatur minus accusantium alias vitae quidem ipsa amet itaque corporis id. Eum dolores maxime perspiciatis, vitae in ipsum ea voluptatibus porro molestiae error ipsa magni nulla blanditiis eveniet cumque explicabo possimus mollitia asperiores esse iusto fuga ex quibusdam. Itaque deserunt perspiciatis cupiditate voluptates in ad maiores officiis.</p>
                    <div class="tab-title">
                        <p class="tab-links active-links " onclick="opentab('skills')">Skills</p>
                        <p class="tab-links"onclick="opentab('experiane')">Experiance</p>
                        <p class="tab-links"onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab " id="skills">
                        <ul>
                            <li><span>UI/UX</span><br>Desinging web/App Interfaces</li>
                            <li><span>Web Development</span><br>Web App Development</li>
                            <li><span>App Devlopment</span><br>Building Android/iOS apps</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experiane">
                        <ul>
                            <li><span>2023 - current</span><br>UI/UX Desing Traning at ET Instutute</li>
                            <li><span>2011 - 2023</span><br>Team lead at StarApp LLC</li>
                            <li><span>2019 - 2023</span><br>UI/UX Design Executiveat Coin Digital td.</li>
                            <li><span>2018 - 2019</span><br>Intership at ekart eCommerce.</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2019</span><br>Masters at K.W.C. Collage</li>
                            <li><span>2016</span><br>Graduate at M.M. Collage</li>
                            <li><span>2014</span><br>H.S.C at Shivaji Univercity</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------Services------------------------------- -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Desiner</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, minima? Modi, minus, aliquam ipsum, quos inventore facere officia corporis pariatur error sequi praesentium aperiam.</p>
                </div>
                <div>
                    <i class="fa-solid fa-crop"></i>
                    <h2>UI/UX Design</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, minima? Modi, minus, aliquam ipsum, quos inventore facere officia corporis pariatur error sequi praesentium aperiam.</p>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Developer</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, minima? Modi, minus, aliquam ipsum, quos inventore facere officia corporis pariatur error sequi praesentium aperiam.</p>
                </div>

            </div>

        </div>
    </div>


    <!-- -----------------------------------------portfolio=--------------------------------------- -->
     <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="../static/bg1.jpg" alt="">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti quae consequatur ipsum sapiente culpa alias sequi distinctio dolorem. Molestias voluptatibus doloribus itaque harum, ut ratione totam iure nemo alias.</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="../static/v1.jpg" alt="">
                    <div class="layer">
                        <h3>Music App</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti quae consequatur ipsum sapiente culpa alias sequi distinctio dolorem. Molestias voluptatibus doloribus itaque harum, ut ratione totam iure nemo alias.</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="../static/v2.jpg" alt="">
                    <div class="layer">
                        <h3>Online Shopping App</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti quae consequatur ipsum sapiente culpa alias sequi distinctio dolorem. Molestias voluptatibus doloribus itaque harum, ut ratione totam iure nemo alias.</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                
            </div>
            <a href="#" class="btn"> See More</a>
        </div>
     </div>


     <!-- ------------------------------contact--------------------------- -->

     <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p> <i class="fas fa-paper-plane"></i>vaibhavinalawade2018@gmail.com</p>
                    <p><i class="fas fa-phone-square-alt"></i>0123456789</p>
                    <div class="social-icons">
                        <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <a href="../static/v1.jpg" class="btn btn2" download>Download CV</a>
                </div>
                <div class="contact-right">
                    <form action="">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <textarea name="message"  rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @ Vaibhavi, Made with <i class="fas fa-heart"></i> me</p>
        </div>
     </div>
    <script src="../static/index.js"></script>
</body>

</html>